extends layout.pug 
block Title_Web
    title Details 


block Header
    header.navigation 
                h1 
                    a.logo(href='/') Medicine Registry

                nav.navLinks
                    a.links.active(href='/medicines/list') All medicines
                    a.links(href='/medicines/create') New medicine
                    a.links(href='/categories/list') All categories
                    a.links(href='/categories/create') New category

block MainContent
    div.h2_position
        h2 Details
    div.container 
    if medicine
        div.FormContainer 
        form.form(action=`/medicines/list/${medicine.id}` method = "POST" onsubmit="return FormValidation_M()")
            label Name 
            input.input(type="text" name= "Name" id= "name_m" value= medicine.title)

            label Description 
            input.input(type="text" name= "Description" id= "description_m" value= medicine.description)

            label Category 
            select.input(name="Category")
                each category in categories 
                    if category.id == medicine.category
                        option(value=category.id, selected) #{category.title}
                    else
                        option(value=category.id) #{category.title}
            button.btn Submit
    else 
        p There is no such record
    